body{
    margin: 0px;
    background-color: rgba(0, 255, 255, 0.637);
}
div#login{
    margin: 0;
    width: auto;
    height: auto;
    padding: 10%;
    display: inline-block;
}
main#basemain{
    position: relative;
    width:100%;
    background-color: rgb(123, 180, 180);
    padding: 20px;
    margin: 0;
    display: inline-block;
}
main#basemain h1{
    font-size: 15pt;
}
div#loginAluno{
    width: 40%;
    display: inline-block;
    margin-left: 10%;
    
}
div#loginEscola{
    float: left;
    width: 40%;
    background-color: #cccccc;

    
}
@media (max-width: 480px) { 
    div#login{
        margin: 0;
        width: auto;
        height: auto;
        padding: 10%;
        display: block;
    }
    #loginAluno{
    }
    div#loginEscola{
        float: left;
        width: 40%;
        background-color: #cccccc;
        display: block;
    
        
    }
}