body{
    margin: 0px;
    background-color: aqua;
}
div#login{
    margin: 0;
    background-color: aqua;
    width: auto;
    height: auto;
    padding: 10%;
    display: inline-block;
}
main#basemain{
    position: relative;
    width:100%;
    background-color: rgb(123, 180, 180);
    padding: 20px;
    margin: 0;
    display: inline-block;
}
main#basemain h1{
    font-size: 15pt;
}
div#loginAluno{
    width: 40%;
    display: inline-block;
    margin-left: 10%;
    
}
div#loginEscola{
    float: left;
    width: 40%;
    background-color: #cccccc;

    
}